<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Danh sách bài viết</title>
</head>
<body>
    <div class="posts">
        {{range .blogList}}
        <a href="/detail/{{.Id}}" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>{{.Title}}</b></h4> 
                <p>{{.Author}}</p> 
            </div>
        </a>
        {{end}}
    </div>
</body>
</html>