<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Techmaster</title>
</head>
<body>
    <!-- Kiểm tra giá trị của biến Name có bằng Golang hay ko. eq là viết tắt của equal-->
    <!-- So sánh với một string thì string phải đặt trong ""-->
    {{range $i, $e := .courses}}
    <div>
        <p>Khóa số {{$i}}: <span>{{.Name}}</span></p>
        <p>Giá: {{.Price}}</p>
    </div>
    <br>
    <hr>
    {{end}}
</body>
</html>