<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Danh sách bài viết</title>
</head>
<body>
    <div class="posts">
        <a href="/detail/1" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Học Golang cấp tốc: Struct&Method</b></h4> 
                <p>Trịnh Thúy</p> 
            </div>
        </a>
    
        <a href="/detail/2" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Học Golang cấp tốc: Interface</b></h4> 
                <p>Nguyễn Long</p> 
            </div>
        </a>
    
        <a href="/detail/3" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>SQL căn bản: SELECT</b></h4> 
                <p>Nguyễn Duy</p> 
            </div>
        </a>
    
        <a href="/detail/4" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>SQL căn bản: Điều kiện WHERE</b></h4> 
                <p>Nguyễn Duy</p> 
            </div>
        </a>
    
        <a href="/detail/5" class="card">
            <img src="img/go.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Lập trình hướng đối tượng trong Java</b></h4> 
                <p>Robin Huy</p> 
            </div>
        </a>
    </div>
    
</body>
</html>